* {
    margin: 0;
    padding: 0;
    border: 0;
}
@font-face {
    font-family: 'Broken Home' ;
    src: url('../fonts/brokenhome.otf') format('truetype');
}

h1,nav {
    display: inline-block;
}

header {
    font-family: 'Broken Home', cursive;
    letter-spacing: .3cm;
    background: lightgray;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
}

header a {
    color: white;
    text-decoration: none;
}

header li {
    display: inline-block;
    margin: 0, 10px;

}

body { 
    background-image: url('../images/background-image.jpeg');
}

main{
    padding-top: 100px;
    margin-top: 50px;

}

section {
    background-color: rgb(255, 255, 255);
    width: 50%;
    padding-top: 100px;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    text-decoration: underline;


}

h3 {
    margin-bottom: 10px;
    margin-top: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategrey;
}

.first {
    max-width: 800px;
    border: 3px solid black;
    border-radius: 10%;
    margin: 40px auto;
    padding-top: 10px ;

}

.second {
    max-width: 800px;
    border: 3px solid black;
    border-radius: 10%;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}
.second-text {
    border: none;
    position: absolute;
    bottom: 0;
  
}

.custom-test {
    font-weight: bold;
}
