* {
    margin: 0;
    padding: 0;
    border: 0;
}
@font-face {
    font-family: 'Broken Home' ;
    src: url('../fonts/brokenhome.otf') format('truetype');
}

header {
    font-family: 'Broken Home', cursive;
    letter-spacing: .3cm;
    background: lightgray;
    padding: 20px;
}

header a {
    color: white;
}

header li {
    display: inline-block;
    margin: 0, 10px ;
}

body { 
    background-image: url('../images/background-image.jpeg');
}

section {
    background-color: rgb(255, 255, 255);
    width: 50%;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    text-decoration: underline;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategrey;
}

.first {
    border: 3px solid black;
    border-radius: 10%;
    margin: 10px;
    padding: 10px;
}

.second {
    border: 3px solid black;
    border-radius: 10%;
    margin: 10px;
    padding: 10px;
}
