body { 
    background-image: url('../images/background-image.jpeg');
}

section {
    background-color: rgb(255, 255, 255);
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font: grey;
}

head {
    font-family: 'Bebas Neue', cursive;
}
